---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { MetaData } from '~/types';

const metadata: MetaData = {
  title: 'Dra Mayara Moreira - Especialista em Otorrino Pediatria',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Início', href: '#' },
        { text: 'Sobre mim', href: '#sobre-mim' },
        { text: 'Currículo', href: '#curriculo' },
        { text: 'Trabalhos', href: '#trabalhos' },
        { text: 'Blog', href: '/blog' },
      ]}
      actions={[{ text: 'Contato', href: '#' }]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero id="hero" title="Dra Mayara Moreira" tagline="Otorrino Pediatra">
    <Fragment slot="subtitle">
      "São as crianças, que sem falar, nos ensinam as razões para viver"<br /><em
        class="text-sm flex justify-end mr-20"
      >
        Ruben Alves</em
      >
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="sobre-mim"
    items={[
      {
        title: 'Instagram',
        icon: 'tabler:brand-instagram',
        callToAction: {
          href: 'https://instagram.com/dramayaramoreiraa',
        },
      },
    ]}
    image={{
      src: '~/assets/images/sobre-mim.jpeg',
      alt: 'Doutora Mayara Moreira',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sobre Mim</h3>
      <p>Sempre fui apaixonada por crianças. A inocência, a leveza, a bondade e a sinceridade, sempre me cativaram.</p>
      <br />
      <p>
        Foi essa inspiração que me levou à especializar em Otorrino Pediatria e no cuidado com as crianças especiais.
        Continuo minha jornada aprendendo diariamente com elas.
      </p>
      <br />
      <p>Se tiver curiosidade em acompanhar meu trabalho, me siga nas redes sociais:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="curriculo"
    title="Currículo"
    items={[
      {
        title:
          'Graduação em Medicina<br /> <span class="font-normal">PUC, Goiânia/GO, Brasil</span> <br /> <span class="text-sm font-normal">2015</span>',
        icon: 'tabler:school',
      },
      {
        title:
          'Residência médica em Otorrinolaringologia<br /> <span class="font-normal">FAMERP, São Jose Rio Preto/SP, Brasil</span> <br /> <span class="text-sm font-normal">2020</span>',
        icon: 'tabler:first-aid-kit',
      },
      {
        title:
          'Título de Especialista em Otorrinolaringologia<br /> <span class="font-normal">ABORL-CCF, Brasil</span> <br /> <span class="text-sm font-normal">2020</span>',
        icon: 'tabler:file-certificate',
      },
      {
        title:
          'Membro da Comissão de Comunicação<br /> <span class="font-normal">Academia Brasileira de Otorrino Pediatria, Brasil</span> <br /> <span class="text-sm font-normal">2020 - Presente</span>',
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Fellowship em Otorrinolaringologia Pediátrica<br /> <span class="font-normal">USP, Ribeirao Preto/SP, Brasil</span> <br /> <span class="text-sm font-normal">2021</span>',
        icon: 'tabler:first-aid-kit',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <!-- Content Widget **************** -->

  <Content
    id="trabalhos"
    title="Trabalhos Relevantes"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Publicação Livro <br /><span class="text-2xl">Livro Otorrino Pediatra</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

   <<<<<<< HEAD
  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    |||||||
    parent
    of
    b563837
    (first
    ajusts)
    <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    <Content
    isReversed
    isAfterContent={true}
  >
    >>>>>> b563837 (first ajusts) items={
      [
        {
          title: 'Description:',
          description:
            'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
        },
        {
          title: 'Role:',
          description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
        },
      ]
    }
     <<<<<<< HEAD />

    <!-- Stats Widget ****************** -->

    <Stats
      stats={[
        { title: 'Downloads', amount: '132K' },
        { title: 'Stars', amount: '24.8K' },
        { title: 'Forks', amount: '10.3K' },
        { title: 'Users', amount: '48.4K' },
      ]}
    />

    <!-- CallToAction Widget *********** -->

    <CallToAction
      actions={[
        {
          variant: 'primary',
          text: 'Get template',
          href: 'https://github.com/onwidget/astrowind',
          target: '_blank',
          icon: 'tabler:download',
        },
      ]}
      |||||||
      parent
      of
      b563837
      (first
      ajusts)
    />

    <!-- Stats Widget ****************** -->

    <Stats
      stats={[
        { title: 'Downloads', amount: '132K' },
        { title: 'Stars', amount: '24.8K' },
        { title: 'Forks', amount: '10.3K' },
        { title: 'Users', amount: '48.4K' },
      ]}
    />

    <!-- CallToAction Widget *********** -->

    <CallToAction
      callToAction={{
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      }}
      image={{
        src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
        alt: 'Art and Music Poster Image',
      }}
    >
      >>>>>> b563837 (first ajusts) >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
          Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
        </h3>
      </Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </CallToAction>

    <!-- Content Widget **************** -->

    <Content
      isReversed
      isAfterContent={true}
      items={[
        {
          title: 'Description:',
          description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
        },
        {
          title: 'Role:',
          description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
        },
      ]}
      image={{
        src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
        alt: 'Fashion e-commerce Image',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
          Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
        </h3>
      </Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Content>

    <!-- BlogLatestPost Widget **************** -->

    <BlogLatestPosts id="blog" title="Blog" />
  </FAQs>
</Layout>
